/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Variable Define */
:root {
  --primary-color: #ffa323;
  --secondary-color: #f41f31;
  --white-color: #fff;
  --black-color: #0a0a0a;
  --bg-gray-color:#f5f5f5;

  /* Text color variable */
  --text-primary: #ffa323;
  --text-secondary: #f41f31;
  --text-white: #fff;
  --text-black: #0a0a0a;
  --text-color: #545454;
  --text-gray: #aba8b0;
  --text-gray-light: #484848;

  /* Font Family */
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Nunito Sans", sans-serif;
}

/* colors */

.custom-color-white {
    color: white;
}
.custom-color-red {
    color: #f41f31;
}
.custom-color-orange {
    color: #ffa323;
}
.custom-color-black {
    color: #0a0a0a;
}

/* header bottom */
.header-tagger {
    width: 40px;
    height: 3px;
    border-radius: 4px;
    background: rgb(178, 41, 107);
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--text-primary);
}
ul {
  margin: 0;
  padding: 0;
}

/* Custom CSS */
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--primary-font);
  font-size: 100%;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 0.425rem;
}
::-webkit-scrollbar-track {
  background: var(--white-color);
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

h1 {
  font-size: 3.5714rem;
  font-weight: 800;
  margin-bottom: 2rem;
  color: var(--text-white);
  text-transform: capitalize;
}
h2 {
  font-size: 2.8571rem;
  font-weight: 700;
  line-height: 1.3;
  color: var(--text-black);
  text-transform: capitalize;
}
h3 {
  font-size: 1.8571rem;
  font-weight: 500;
  line-height: 1.3;
  color: var(--text-black);
  text-transform: capitalize;
}
h4 {
  font-size: 1.7143rem;
  font-weight: 600;
  line-height: 2.5rem;
  color: var(--text-gray);
  max-width: 75%;
}

p {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 0.0625rem;
  margin-bottom: 0;
  font-family: var(--secondary-font);
}
span {
  display: block;
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--secondry-font);
  color: var(--text-primary);
  margin-bottom: 1.0714rem;
  position: relative;
}

/* header */
nav .navbar-brand img {
    width: 120px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all ease 0.3s;
    z-index: 10;
}
.misol-uchun-header {
    transition: all ease 0.3s;
    top: -45px;
}
.navigation-wrap {
    transition: all ease 0.5s;
}
header .navigation-wrap .navbar-nav li {
    padding: 0 10px;
}
header .navigation-wrap .navbar-nav li a:hover {
    color: #ffa323;
}


/* section-1 top banner */
.section-1 .top-banner {
    height: 90vh;
    background-size: cover;
    background: url(/images/bg/bg-1.jpg);
    background-position: center -200px;
}
.section-1 .top-banner .container {
    padding-top: 200px;
}


/* story */
.story {
    margin: 70px 0;
}
/* /story */

/* services */
.services {
    background: #f5f5f5;
}
.services .row .col-md-2 {
    margin-top: 100px;
    box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.65);
    -webkit-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.65);
    margin: 20px;
    height: 300px;
    transition:  all 0.5s  ease;
}
.services .row .col-md-2:hover
 {
    background: red!important;
    cursor: pointer;
}
.services .row .col-md-2 .img-box {
    background: #f4f1f1;
    border-radius: 50%;
    padding: 10px;
    z-index: 2;
    width: 160px;
    height: 160px;
}
.services .row .col-md-2 .img-box  img {
    width: 100%;
}
.services .row {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.services .row .col-md-2 .offer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -130px;
}
.services .row .col-md-2 h4 {
    margin-top: 50px;
}
/* /services */

/* feautures */
.feature {
    background: #0a0a0a;
}
.feature .row .col-md-4 .card .line {
    text-decoration: line-through;
    color: #aba8b0;
    margin-left: 5px;
}
.feature .row .col-md-4 {
    width: 440px;
    height: 480px;
}
.feature .row .col-md-4 .card {
    min-width: 100%;
    border: none;
    min-height: 100%;
    overflow: hidden;
}
.feature .row .col-md-4 .card .card-body {
    overflow: hidden;
}
.feature .row .col-md-4 .card:hover {
    cursor: pointer;
}
.feature .row .col-md-4 .card a {
    padding: 10px 20px;
}
.feature .row .col-md-4 .card .img-box {
    transition: all ease 0.5s;
    height: 50%;
    overflow: hidden;
}
.feature .row .col-md-4 .card .img-box:hover {
    transform: scale3d(1.2,1.2,2);
    overflow: hidden;
}
.feature .row .col-md-4 .card img {
    transition: all ease 0.5s;
    overflow: hidden;
}
.feature .row .col-md-4 .card img:hover {
    transform: rotate3d(1, 1, 1, 5deg);
    overflow: hidden;
}
.feature .row .col-md-4 .card .img-box {
    overflow: hidden;
}
/* /Feature section css */

/* delivery */
.delivery {
    background: url(/images/bg/bg-4.jpg);
    background-size: cover;
    background-position: top 40px;
}
/* delivery */

/* app */
.app {
    background: url(/images/bg/bg-5.jpg);
    background-size: cover;
    background-position: bottom top;
}
/* /app */


/* newsletter */
.newsletter .input-group {
    width: 700px;
    margin: auto;
}
.newsletter {
    background: url(/images/bg/bg-6.jpg);
}
/* /newsletter */

/* footer */
.footer {
    background:#0a0a0a;
}
.footer ul li a:hover {
    color: #ffa323;
}
.footer ul li {
    margin: 20px 10px;
}
.footer .footer-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer .blogs i {
    margin: 10px;
    font-size: 30px;
    color: #fff;
    transition: all ease 0.2s;
}
.footer .blogs i:hover {
    cursor: pointer;
    color: #ffa323;
}